body{
    background-color: black;
  }
  #all {
    display: flex;
    //background-color: #888888;
    //color: #8abdff;
  }
  #root{
    width: 75vw;
    height: 94vh;
    border: 2px solid #ffff1b;
    background-color: #888888;
  }
  #interface{
    width: 20vw;
    height: 94vh;
    border: 2px solid #ffff1b;
    background-color: #888888;
  }
  .menuRaw {
    padding: 10px;
  }