body{
  background-color: black;
}
#all {
  display: flex;
  //background-color: #888888;
  //color: #8abdff;
}
#root{
  width: 75vw;
  height: 94vh;
  border: 2px solid #ffff1b;
  background-color: #888888;
}
#interface{
  width: 20vw;
  height: 94vh;
  border: 2px solid #ffff1b;
  background-color: #888888;
}
.menuRaw {
  padding: 10px;
}
.lab {
  height: 300px;
  width: 300px;
  padding: 20px;
  background-color: white;
  color: black;
  font-size: 32px;
  border: 5px black solid;
}
